<div class="container-flex">
	<div class="row p-3">
		<div class="bg-secondary text-white col col-sm-2">
			<img class='card-img-top' ng-src='{{artist.imagemSrc}}'</img>
		  <h1 class="h1">{{name}}</h1>     <a href="" class="text-center" title="If you like this, vote it up!" ng-click="favorite()">
			      <i class="fa fa-2x" ng-class="(artist.favorite==1) ? 'fa-heart' : 'fa-heart-o'"></i><br>
			    </a>
      <angular-rating-icons decimal="true" max="10" icon-size="20" color-base="orange" ng-model="artist.classification"></angular-rating-icons>
		</div>

		<div class="col col-sm-10" ui-view></div>
	</div>
</div>
