<style>
nav.menu {
  position: relative;
  max-height: 100%;
  background-color: #1976D2;
  /*margin: -16px -8px 0px -8px;*/
  font-family: sans-serif;
  font-size: 14px;
  /*margin-bottom: 10px;*/
}

a {
  text-decoration: none;
  color: #eaeaea;
  outline: 0;
}

a:hover {
  text-decoration: none;
  color: #FFFFFF;
}

li#text-logo {
  font-family: "Lobster";
  font-size: 25px;
  color: #BBDEFB;
  -moz-user-select: none; -webkit-user-select: none; -ms-user-select:none; user-select:none;-o-user-select:none;
}

.menu li {
  display: inline-block;
  text-align: center;
  padding: 10px;
}
</style>

<nav class="menu">
  <ul>
    <li id="text-logo">Musicateca</li>
    <li ng-repeat="item in items">
      <a ng-href="/{{item.id}}">{{item.title}}</a>
    </li>
    <li>
      <div class="container">
          <form class="navbar-form" role="search">
            <div class="input-group add-on">
              <input class="form-control" placeholder="Search" name="srch-term" id="srch-term" type="text">
              <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
              </div>
            </div>
          </form>
      </div>
    </li>
  </ul>

</nav>
