<style>
  .btn-circle {
    width: 30px;
    height: 30px;
    padding: 6px 0px;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
  }
</style>

<div class="container">
  <h1 class="p-2">Playlists</h1>

  <div class="m-2" ng-repeat="playlist in playlists | orderBy:'name'">
    <div id="accordion" role="tablist">
      <div class="card">
        <div class="card-header" role="tab" id="headingOne" data-toggle="collapse" data-target="#collapse-{{$index}}">
          <h5 class="mb-0 clearfix">
            <a  aria-expanded="true" aria-controls="collapse-{{$index}}">
              {{playlist.name}}
            </a>
            <div class="float-right">
              <button type="button" id="playlistsRemoveButton" data-toggle="modal" data-target="#playlistConfirmationModal-{{$index}}" class="btn btn-danger btn-circle" data-backdrop="true" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-minus"></i>
              </button>

              <div class="modal fade" id="playlistConfirmationModal-{{$index}}" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
              	<div class="modal-dialog modal-sm" role="document">
              		<div class="modal-content">
              			<div class="modal-header">
              				<h6 class="modal-title">
              					Remover playlist "{{playlist.name}}"?
              				</h6>
              			</div>
              			<div class="modal-footer">
              				<button type="button" class="btn btn-success" data-dismiss="modal" ng-click="removePlaylist(playlist.name)">Sim</button>
              				<button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
              			</div>
              		</div>
              	</div>
              </div>

            </div>
          </h5>
        </div>
        <div class="collapse" id="collapse-{{$index}}">
          <div class="card-body">
            <div ng-if="!playlist.musics">Playlist vazia.</div>
            <div class="list-group p-2">
              <div class="list-group-item list-group-item-action clearfix" ng-if="music.name" ng-repeat="music in playlist.musics">
                {{music.name}} - {{music.artist}}

                <div class="float-right">
                  <button type="button" id="playlistsRemoveButton" ng-click="removeMusic(playlist.name, music)" class="btn btn-danger btn-circle" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-minus"></i>
                  </button>
                </div>


              </div>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>
</div>
